{% extends "project/project_base.html" %} {% block project %}
<p></p>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="alert alert-danger" role="alert">
                    删除项目
                </div>
                <button type="button" class="btn btn-secondary" onclick="quxiao()">取消</button>
                <button type="button" class="btn btn-primary" onclick="queding()">确认</button>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
<script>

function quxiao(){
    window.history.go(-1);
}
function queding(){
    var request = new XMLHttpRequest()
    request.open("POST", "{% url 'project_delete' project.id %}")
    request.onreadystatechange = function(){
        if (request.readyState === 4 && request.status === 200){
            window.location.href="{% url 'project_list' %}"
        }
    }
    request.send(null)
}

</script>
{% endblock %}