{% extends "project/project_base.html" %}
{% block project %}
<div class="form-group">
        <label for="Name">项目名称</label>
        {% if project %}
        <input class="form-control" name="project_name" required="required" value={{ project.name }} disabled="disabled"> {% else %}
        <input class="form-control" name="project_name" required="required">  {% endif %}
    </div>
    <div class="form-group">
        <label for="project_owner">项目负责人</label>
        {% if project %}
        <input class="form-control" name="project_owner" required="required" value={{ project.owner }} disabled="disabled"> {% else %}
        <input class="form-control" name="project_owner" required="required" value={{ request.user }}> {% endif %}
    </div>
    <div class="form-group">
        <label for="project_description">项目描述</label>
        {% if project %}
        <textarea class="form-control" rows="5" name="project_description" required="required" disabled="disabled">{{ project.description }} </textarea> {% else %}
        <textarea class="form-control" rows="5" name="project_description" required="required"></textarea> {% endif %}
    </div>
    <div class="form-group">
        <label for="project_member">项目成员</label>
        {% if project %}
        <textarea class="form-control" rows="5" name="project_member" disabled="disabled">{{ project.member }} </textarea> {% else %}
        <textarea class="form-control" rows="5" name="project_member"></textarea> {% endif %}
    </div>


{% endblock %}
